<div class="p-5">
    <h4 class="mb-3 text-center">Cập nhật sản phẩm "{{ data.foodName }}"</h4>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="form-group">
                    <ng-container *ngIf="selectedImage; else defaultImage">
                        <img [src]="selectedImageSrc" class="mx-auto d-block" width="350px">
                    </ng-container>
                    <ng-template #defaultImage>
                        <img [src]="data.foodImage" class="mx-auto d-block" width="350px">
                    </ng-template>
                    <input class="mt-2" type="file" (change)="onImageSelected($event)" accept="image/*">
                </div>
            </div>

            <div class="col">
                <div class="row col">
                    <mat-form-field class="col">
                        <mat-label>Tên sản phẩm</mat-label>
                        <input matInput formControlName="foodName">
                        <mat-error *ngIf="foodName?.errors?.['required']">
                            Tên sản phẩm là <strong>bắt buộc</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col">
                        <mat-label>Loại sản phẩm</mat-label>
                        <input matInput formControlName="foodType">
                        <mat-error *ngIf="foodType?.errors?.['required']">
                            Loại sản phẩm là <strong>bắt buộc</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="col">
                        <mat-label>Giá sản phẩm</mat-label>
                        <input matInput formControlName="foodPrice">
                        <mat-error *ngIf="foodPrice?.errors?.['required']">
                            Giá tiền là <strong>bắt buộc</strong>
                        </mat-error>
                        <mat-error *ngIf="foodPrice?.errors?.['pattern']">
                            Định dạng giá không hợp lệ
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col">
                        <mat-label>Chọn cửa hàng</mat-label>
                        <mat-select name="key" formControlName="shopId">
                            <mat-option *ngFor="let shop of shops" [value]="shop.key">
                                {{ shop.shopName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-form-field class="full-width">
                    <mat-label>Mô tả</mat-label>
                    <textarea matInput formControlName="foodDescription"></textarea>
                </mat-form-field>

                <div *ngIf="data.options && data.options.length > 0; else noOptionBlock">
                    <strong class="me-2">Option:</strong>
                    <span *ngFor="let option of data.options; let i = index; let last = last">
                        <a href="javascript:">{{ option.optionName }} </a>
                        <ng-container *ngIf="!last">, </ng-container>
                    </span>
                </div>
                <ng-template #noOptionBlock>
                    <div>No option</div>
                </ng-template>

                <section class="mt-3">
                    <mat-checkbox formControlName="isOutOfStock">
                        Is Out of Stock
                    </mat-checkbox>
                </section>
            </div>
        </div>

        <div class="col-md-12 text-center mt-4">
            <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid || addingFood">
                <ng-container *ngIf="!addingFood; else loadingButtonContent">
                    Cập nhật sản phẩm
                </ng-container>

                <ng-template #loadingButtonContent>
                    <mat-spinner diameter="20"></mat-spinner>
                </ng-template>
            </button>
        </div>
    </form>
</div>