<div class="p-4 order-list">
    <div class="d-flex justify-content-around">
        <h4 class="text-center mb-4">Chi tiết đơn hàng</h4>
    </div>

    <div class="row" *ngFor="let food of data.foods; let last = last">
        <div class="col-md-6 d-flex align-items-center">
            <img [src]="food.foodImage" class="mx-auto d-block" width="150px">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="me-3">
                <p class="mb-0 text-truncate"><strong>Tên:</strong> {{ food.foodName }}</p>
                <p class="mb-0 text-truncate"><strong>Giá:</strong>
                    {{ food.foodPrice | currency: 'VND' }}
                </p>
                <p class="mb-0 text-truncate"><strong>Số lượng:</strong>
                    {{ food.quantity }}
                </p>
                <p *ngIf="food.foodNote" class="mb-0 text-truncate"><strong>Ghi chú:</strong>
                    {{ food.foodNote }}
                </p>
                <div *ngIf="food.options" class="mb-0 text-truncate"><strong>Lựa chọn:</strong>
                    <ol>
                        <li *ngFor="let option of food.options" class="m-0">
                            {{ option.optionName }}
                            <ul>
                                <li *ngFor="let item of option.optionList; let last = last">
                                    {{ item.name }}
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <mat-divider class="my-3" *ngIf="!last"></mat-divider>
    </div>

    <hr>

    <div class="text-end mt-4">
        <div class="d-flex justify-content-end">
            <div class="d-flex justify-content-around">
                <div class="me-3">
                    <h5 style="font-size: 1em; color: #555;">
                        Tổng cộng ({{ data.foods.length }} món):
                    </h5>
                    <h5 style="font-size: 1em; color: #555;">
                        Giảm giá:
                    </h5>
                    <h5 style="font-size: 1em; color: #555;">
                        Phí ship:
                    </h5>
                </div>
                <div>
                    <h5 style="font-size: 1em; color: #555;">
                        {{ totalAmount | currency: 'VND' }}
                    </h5>
                    <h5 style="font-size: 1em; color: #555;">
                        -{{ discount | currency: 'VND' }}
                    </h5>
                    <h5 style="font-size: 1em; color: #555;">
                        {{ shoppingFee | currency: 'VND' }}
                    </h5>
                </div>
            </div>
        </div>
        <h4>Tổng cộng: <span class="total-amount">{{ totalPrice | currency: 'VND' }}</span></h4>
    </div>
</div>