<div class="mat-elevation-z8 mt-4">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> No. </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate" style="max-width: 30px;">
                {{shop.key}}
            </td>
        </ng-container>

        <ng-container matColumnDef="shopName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Tên cửa hàng </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate">
                {{shop.shopName}}
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="sections">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Danh mục </th>
            <td mat-cell *matCellDef="let shop">
                <div class="text-truncate" style="max-width: 200px;"
                    *ngIf="shop.sections && shop.sections.length > 0; else noSectionBlock">
                    <span *ngFor="let section of shop.sections; let last = last">
                        {{ section.sectionName }}
                        <ng-container *ngIf="!last">, </ng-container>
                    </span>
                </div>
                <ng-template #noSectionBlock>
                    <div>Không có danh mục</div>
                </ng-template>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="shopAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Địa chỉ </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate" title="{{shop.shopAddress}}">
                <a href="javascript:" (click)="openGoogleMapDialog(shop.shopAddress)">
                    {{shop.shopAddress}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="ratingScore">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Đánh giá </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate">
                {{shop.ratingScore}}
                <i class="fas fa-star" style="color: #17d0d3;"></i>
            </td>
        </ng-container>

        <ng-container matColumnDef="openingTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Mở cửa </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate">
                {{shop.openingTime}}
            </td>
        </ng-container>

        <ng-container matColumnDef="closingTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Đóng cửa </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate">
                {{shop.closingTime}}
            </td>
        </ng-container>

        <ng-container matColumnDef="isOpening">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Trạng thái </th>
            <td mat-cell *matCellDef="let shop" class="text-truncate">
                {{shop.isOpening ? 'Đang hoạt động' : 'Không hoạt động'}}
            </td>
        </ng-container>1

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="fw-bold text-truncate">Actions</th>
            <td mat-cell *matCellDef="let shop" class="text-truncate">
                <!-- <button mat-icon-button color="accent" title="Thêm section" (click)="openAddSection(shop)">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="openEditForm(shop)">
                    <mat-icon>edit</mat-icon>
                </button> -->
                <button mat-icon-button color="warn" (click)="deleteShop(shop.key)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>