<div class="auth-wrapper" *ngIf="!authService.isRegisterShop; else noRegister">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <form [formGroup]="signUpShopForm" (ngSubmit)="onSubmit()" class="card-body">
                        <h4 class="mb-2 f-w-400">Bạn chưa đăng ký cửa hàng!</h4>
                        <img src="assets/images/box_logo.svg" width="167px" alt="logo" class="img-fluid mb-4" />
                        <h4 class="mb-3 f-w-400">Vui lòng đăng ký tại đây.</h4>

                        <!-- Shop Name -->
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <span class="input-group-text">
                                    <i class="fas fa-store" style="width: 15px;"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="shopName"
                                    placeholder="Tên cửa hàng" aria-label="shopName" />
                            </div>
                            <div *ngIf="shopName?.invalid && (shopName?.dirty || shopName?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shopName?.errors?.['required']">
                                    Vui lòng nhập tên cửa hàng
                                </div>
                            </div>
                        </div>

                        <!-- Shop Address -->
                        <div class="mb-3">
                            <div class="input-group mb-1">
                                <span class="input-group-text">
                                    <i class="fas fa-map-marker-alt" style="width: 15px;"></i>
                                </span>
                                <input type="text" class="form-control" formControlName="shopAddress"
                                    placeholder="Địa chỉ cửa hàng" aria-label="shopAddress" />
                            </div>
                            <div *ngIf="shopAddress?.invalid && (shopAddress?.dirty || shopAddress?.touched)"
                                class="alert alert-danger">
                                <div *ngIf="shopAddress?.errors?.['required']">
                                    Vui lòng nhập địa chỉ của cửa hàng
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-start">
                            <div class="checkbox checkbox-primary d-inline">
                                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" />
                                <label for="checkbox-fill-2" class="cr">
                                    Chấp nhận mọi <a href="javascript:"> điều khoản</a> ?
                                </label>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-block mb-4" type="submit"
                                [disabled]="signUpShopForm.invalid">
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noRegister>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4 class="mb-2 f-w-400">Bạn đã đăng ký cửa hàng rồi!</h4>
                        <img src="assets/images/box_logo.svg" width="167px" alt="logo" class="img-fluid mb-4" />
                        <h5>
                            <i class="fas fa-arrow-left"></i>
                            <a routerLink="/dashboard"> Back</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>