<!-- Trong file HTML của component -->
<div class="mb-2">
    <mat-radio-group class="mb-3" [(ngModel)]="radioBtn">
        <mat-radio-button value="1">Theo tháng</mat-radio-button>
        <mat-radio-button value="2">Theo năm</mat-radio-button>
        <mat-radio-button value="3">Theo Khoảng</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="radioBtn === '1'">

    </div>

    <div *ngIf="radioBtn === '2'">
        <mat-form-field>
            <mat-label>Chọn năm</mat-label>
            <mat-select [(ngModel)]="selectedYear" (selectionChange)="loadRevenueChart()">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="radioBtn === '3'">
        <mat-form-field class="me-2">
            <mat-label>Start Date:</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate"
                (dateChange)="loadRevenueChart()" />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>End Date:</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" (dateChange)="loadRevenueChart()" />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<button *ngIf="radioBtn === '3'" mat-button color="primary" (click)="exportToExcel()">
    <mat-icon>file_download</mat-icon>
    Export to Excel
</button>

<div class="chart-container" *ngIf="chartOptions">
    <apx-chart [chart]="chartOptions.chart" [series]="chartOptions.series" [xaxis]="chartOptions.xaxis"></apx-chart>
</div>