<div class="row justify-content-center" *ngIf="!isAdmin; else contentAdmin">
    <div class="row justify-content-center">
        <!-- order-card start -->
        <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
                <h6>Số lượng Đồ ăn</h6>
                <h2 class="text-end"><i class="fas fa-utensils float-start"></i>
                    <span>{{ totalFood }}</span>
                </h2>
                <p class="m-b-0">Số lượng Đồ ăn đạt 5 sao <span class="float-end">0</span>
                </p>
            </app-card>
        </div>
        <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
                <h6>Số lượng Đơn Hàng</h6>
                <h2 class="text-end"><i class="feather icon-shopping-cart float-start"></i>
                    <span>{{ totalOrder }}</span>
                </h2>
                <p class="m-b-0">Đơn hàng đã hoàn thành<span class="float-end">{{ totalOrderCompleted }}</span></p>
            </app-card>
        </div>
        <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
                <h6>Tổng Hoá Đơn</h6>
                <h2 class="text-end"><i class="fas fa-money-bill float-start"></i>
                    <span>{{ totalInvoice }}</span>
                </h2>
                <p class="m-b-0">Hoá đơn trong tháng<span class="float-end">{{ totalInvoiceThisMonth }}</span></p>
            </app-card>
        </div>
        <!-- order-card end -->
    </div>

    <div class="col-xl-12 col-md-12">
        <app-card cardTitle="Doanh thu từng ngày trong tháng hiện tại" [options]="false">
            <div class="chart-container">
                <apx-chart *ngIf="chartOptions" [chart]="chartOptions.chart" [series]="chartOptions.series"
                    [xaxis]="chartOptions.xaxis">
                </apx-chart>
            </div>
        </app-card>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
            <app-card [hidHeader]="true" blockClass="text-center">
                <i class="fa fa-shopping-basket text-c-blue d-block f-40"></i>
                <h4 class="m-t-20">Danh sách<span class="text-c-blue"> Sản phẩm</span></h4>
                <p class="m-b-20">Khám phá và quản lý sản phẩm của bạn</p>
                <button (click)="goToPage('/food')" class="btn btn-primary btn-sm btn-round">Xem Danh sách</button>
            </app-card>
        </div>

        <div class="col-md-6 col-lg-6">
            <app-card [hidHeader]="true" blockClass="text-center">
                <i class="fas fa-shopping-cart text-c-green d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-green">Đơn hàng</span> Mới</h4>
                <p class="m-b-20">Kiểm tra và quản lý đơn hàng của bạn</p>
                <button (click)="goToPage('/order')" class="btn btn-success btn-sm btn-round">Xem Đơn Hàng</button>
            </app-card>
        </div>
    </div>
</div>

<ng-template #contentAdmin>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-6 col-xl-3">
                <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
                    <h6>Tổng số cửa hàng đã đăng ký</h6>
                    <h2 class="text-end"><i class="fas fa-store float-start"></i>
                        <span>{{ totalShop }}</span>
                    </h2>
                    <p class="m-b-0">Số cửa hàng chưa được chấp thuận <span class="float-end">0</span>
                    </p>
                </app-card>
            </div>

            <div class="col-md-6 col-xl-3">
                <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
                    <h6>Tổng tài khoản</h6>
                    <h2 class="text-end"><i class="fas fa-user-circle float-start"></i>
                        <span>{{ totalAccount }}</span>
                    </h2>
                    <p class="m-b-0">Số tài khoản bị ban<span class="float-end">0</span></p>
                </app-card>
            </div>

            <div class="col-md-6 col-xl-3">
                <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
                    <h6>Tổng số voucher</h6>
                    <h2 class="text-end"><i class="fas fa-gift float-start"></i>
                        <span>30</span>
                    </h2>
                    <p class="m-b-0">Số voucher đã sử dụng<span class="float-end">0</span></p>
                </app-card>
            </div>
        </div>
    </div>
</ng-template>