<div class="row justify-content-center">
    <div class="row justify-content-center">
        <!-- order-card start -->
        <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
                <h6>Số lượng Đồ ăn</h6>
                <h2 class="text-end"><i class="feather icon-shopping-cart float-start"></i>
                    <span>{{ totalFood }}</span>
                </h2>
                <p class="m-b-0">Số lượng Đồ ăn đạt 5 sao <span class="float-end">0</span>
                </p>
            </app-card>
        </div>
        <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
                <h6>Số lượng Đơn Hàng</h6>
                <h2 class="text-end"><i class="feather icon-shopping-cart float-start"></i>
                    <span>{{ totalOrder }}</span>
                </h2>
                <p class="m-b-0">Đơn hàng đã hoàn thành<span class="float-end">{{ totalOrderCompleted }}</span></p>
            </app-card>
        </div>
        <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
                <h6>Tổng Hoá Đơn</h6>
                <h2 class="text-end"><i class="fas fa-money-bill float-start"></i>
                    <span>0</span>
                </h2>
                <p class="m-b-0">Hoá đơn trong tháng<span class="float-end">0</span></p>
            </app-card>
        </div>
        <!-- order-card end -->
    </div>

    <div class="col-xl-12 col-md-12">
        <app-card cardTitle="Doanh thu theo từng ngày" [options]="false">
            <div class="chart-container">
                <apx-chart [chart]="chartOptions.chart" [series]="chartOptions.series"
                    [xaxis]="chartOptions.xaxis"></apx-chart>
            </div>
        </app-card>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <app-card [hidHeader]="true" blockClass="text-center">
                <i class="fa fa-envelope-open text-c-blue d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
                <p class="m-b-20">Your main list is growing</p>
                <button class="btn btn-primary btn-sm btn-round">Manage List</button>
            </app-card>
        </div>

        <div class="col-md-6 col-lg-4">
            <app-card [hidHeader]="true" blockClass="text-center">
                <i class="fab fa-twitter text-c-green d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-green">+40</span> Followers</h4>
                <p class="m-b-20">Your main list is growing</p>
                <button class="btn btn-success btn-sm btn-round">Check Theme Out</button>
            </app-card>
        </div>
    </div>
</div>