<div class="p-5 option-list">
    <h4 class="text-center mb-4">Thông tin {{ data.optionName }}</h4>
    <div class="row" *ngFor="let item of data.optionList; let last = last">
        <div class="col d-flex justify-content-center align-items-center" *ngIf="item.image">
            <img [src]="item.image" class="mx-auto d-block" width="150px">
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div>
                <p class="mb-0"><strong>Tên:</strong> {{ item.name }}</p>
                <p class="mb-0" *ngIf="item.price"><strong>Giá:</strong> {{ item.price | currency: 'VND' }}</p>
                <p class="mb-0"><strong>Tình trạng:</strong> {{ item.isOutOfStock ? 'Hết hàng' : 'Còn hàng' }}</p>
            </div>
        </div>
        <mat-divider class="my-3" *ngIf="!last"></mat-divider>
    </div>
</div>