<div class="mat-elevation-z8 mt-4" *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="fw-bold text-truncate">Thao tác</th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                <button mat-icon-button color="primary" title="Xem chi tiết đơn hàng" (click)="openOrderDetails(order)">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;">
                Khách hàng
            </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"> Địa chỉ </th>
            <td mat-cell *matCellDef="let order" class="text-truncate" style="max-width: 200px;"
                title="{{ order.address }}">
                {{ order.address }}
            </td>
        </ng-container>

        <ng-container matColumnDef="dateScheduled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;"> Ngày đặt </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.dateScheduled }}
            </td>
        </ng-container>

        <ng-container matColumnDef="timeScheduled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;"> Thời gian đặt </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.timeScheduled }}
            </td>
        </ng-container>

        <ng-container matColumnDef="isScheduled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;"> Phương thức giao </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.isScheduled ? 'Hẹn trước' : 'Giao ngay' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;">
                Thanh toán
            </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.paymentMethod }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;"> Trạng thái </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.status }}
            </td>
        </ng-container>

        <ng-container matColumnDef="acceptedTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;"> Thời gian xác nhận </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.acceptedTime ? order.acceptedTime : 'Chưa xác nhận' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="acceptedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fw-bold text-truncate"
                style="max-width: fit-content;"> Ngày xác nhận </th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                {{ order.acceptedDate ? order.acceptedDate : 'Chưa xác nhận' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="accept">
            <th mat-header-cell *matHeaderCellDef class="fw-bold text-truncate">Xác nhận</th>
            <td mat-cell *matCellDef="let order" class="text-truncate">
                <button mat-icon-button color="primary" title="Xác nhận đơn hàng" (click)="acceptOrder(order)"
                    *ngIf="order.status.toLowerCase() === 'pending'">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-icon-button color="warn" title="Huỷ đơn hàng" (click)="deniedOrder(order)"
                    *ngIf="order.status.toLowerCase() !== 'denied'">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<app-loading-dots [isLoading]="isLoading"></app-loading-dots>